/*body {*/
/*    background-color: white;*/
/*}*/

.dropdown-item:hover {
    background-color: #0d6efd;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: #0d6efd;
}

.btn.show:hover {
    background-color: #0d6efd;
}

.btn-primary {
    --bs-btn-hover-bg: #0d6efd;
}

.main-sidebar {
    width: 100%;
    height: 100vh;
}

.login-page2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-page-sign {
    display: flex;
    justify-content: center;
/ / margin-top: 20 px;
}

.input-group-append {
    background-color: #E9ECEF;
}

.my-h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;

    color: #052C65;


}

.sign-link {
    font-family: 'Roboto', sans-serif;
/ / font-style: normal;
/ / font-weight: 400;
    font-size: 12px;
/ / line-height: 23 px;
    /* identical to box height, or 192% */

    color: #000000;


}

.my-modal {
    color: #290661;
    font-size: 20px;
    line-height: 100%;
}


.mobile-logo, .mobile-menu, .mobile-title {
    display: none;
}


/*.my-index-container {*/
/*    max-width: 1440px;*/
/*}*/

/*.my-sidebar {*/
/*    display: none;*/
/*}*/
.my-circle-border, .my-border {
    border-right: 1px solid #D9D9D9;
}


.my-top-border {
    border-top: 1px solid #D9D9D9;
}


.my-bottom-border {
    border-bottom: 1px solid #D9D9D9;
}

@media (max-width: 1200px) {
    /*body {*/
    /*    background-color: #e70a0a;*/
    /*}*/
    .my-sidebar {
        display: none;
    }

    .my-main-menu {
        display: none;
        background-color: #e70a0a;
        color: #000000;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .mobile-logo {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .mobile-logo div {
        font-size: smaller;

    }
    .mobile-title {
        display: block;
    }
    .mobile-btn {
        width: 250px;
    }

    .my-index-container {
        max-width: 1100px;
    }

    .my-circle {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-style: hidden;
    }

    .my-circle-border {
        border-right: none;
    }

    .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show, .btn.show:hover {
        background-color: silver;
    }
}

@media (max-width: 768px) {
    .my-circle {
        width: 200px;
        height: 200px;


    }
}

@media (max-width: 576px) {
    .my-circle {
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 499px) {
    .mobile-menu {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .mobile-menu div {

        margin-bottom: 10px;

    }
    .logo-min {
        display: none;
    }
}

/*    !*.main-sidebar {*!*/
/*    !*    height: 100%;*!*/
/*    !*}*!*/
/*}*/